{% extends 'layout.twig' %}
{% block principal %}
  <div class="parallax testimonials">
      <div class="container inner text-center">
          <div class="section-title text-center">
              <div class="text-center">
                  <h1>
                      <div class="divide80"></div>
                      <p class="intro" style="color: #ffffff"><b>UNIVA</b></p>
                  </h1>
              </div>
              <div class="section-title text-center">
                  <h3 style="color: #f18903">Proyecto Perfil Laboral</h3>
              </div>

              <div class="divide70"></div>
              <div id="testimonials" class="tab-container">
                  <div class="panel-container" align="justify">
                      <div id="tst1" style="color: white">El Sistema UNIVA está presente en diez ciudades de México. Es una Universidad diferente por su modelo integral de estudio basado en la pedagogía interactiva, cuya finalidad es desarrollar las competencias requeridas en los diferentes niveles y modalidades que incluyen nuevos ambientes de aprendizaje, tales como redes reales y virtuales de trabajo, comunidades sociales y laboratorios naturales, por lo cual pone en práctica el uso de Tic´s acordes con el avance científico y tecnológico.</div>
                      <div id="tst2" style="color: white"> De conformidad con su misión de "formar personas vinculadas responsablemente al ser y a los anhelos, que desde una perspectiva cristiana y católica colaboren con el desarrollo sustentable de la nación a través de un desempeño profesional de alta calidad, congruente con los avances científicos y tecnológicos contemporáneos”, apoya, motiva y promueve una formación universitaria de calidad, y por tanto, establece la pedagogía interactiva como propuesta pedagógica institucional que orienta el quehacer educativo, tanto en lo conceptual como en lo práctico.</div>
                  </div>

                  <ul class="etabs">
                      <li class="tab"><a href="#tst1">1</a></li>
                      <li class="tab"><a href="#tst2">2</a></li>

                  </ul>

                  <div class="row">
                      <div class="col-sm-12">
                          <div class="sidebox widget">
                              <br>
                              <div class="text-center">
                                  <h1><a href="#Bienvenido" class="btn" style="background-color: transparent" style="border: #000000"><i class="budicon-arrow-down-1" style = "font-size: 60px"></i></a></h1>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block section1 %}
  <div>
      <a name="Bienvenido"></a>
  </div>
  <div class="dark-wrapper">
      <div class="container inner">

          <div class="text-center">
              <p class="intro" style="color: #002857"><b>Bienvenido</b></p>
          </div>
          <div class="section-title text-center">
              <h3 style="color: #005cb9">Proyecto Perfil Laboral</h3>
          </div>
      </div>
  </div>
{% endblock %}

{% block section2 %}
  <div class="light-wrapper">
      <div class="container inner">
          <div class="divide29"></div>
          <div class="row">
              <div class="col-sm-6">
                  <div class="divide50"></div>
                  <div class="divide70"></div>
                  <h1 style="color: #002857" align="center">¿Cuál es el objetivo?</h1>
              </div>
              <div class="col-sm-6">
                  <div class="about-author bordered" style="color: #000000">
                      <div class="author-details">
                          <p class="lead" align="justify">El objetivo de este portal es poder obtener información sobre los colaboradores que pertenecen a esta institución. <br><br>
                            Para ello dentro de este sitio se presenta un formulario que debe ser llenado con información personal, la cual será de gran ayuda para poder conocer mejor al personal que conforma la comunidad UNIVA.</p>
                      </div>

                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>

          <div class="divide50"></div>

          <div class="row">
              <div class="col-sm-6">
                  <div class="about-author bordered" style="color: #000000">
                      <div class="author-details">
                          <p class="lead" align="justify">El formulario esta dividido en 11 partes, cada apartado cuenta con un título descriptivo. <br>
                            Es importante tener en cuenta que algunos apartados deben ser llenados de manera <strong>obligatoria</strong>, estos se encuentran identificados por el símbolo ( <strong style="color: red">*</strong> ). <br><br>
                            Si es la primera vez que ingresas al portal el formulario aparecerá vacío y deberá ser llenado con la información correspondiente, por parte contraria, si es la segunda vez que ingresas y ya completaste el formulario, este aparecerá con la información que ingresaste anteriormente. <br><br>
                            <strong style="color: red">Nota*</strong> <br>
                            Para poder <strong>actualizar</strong> la información solo debes de sobreescribir los campos que deseas modificar. <br><br>
                            Si lo que quieres es <strong>borrar</strong>, simplemente elimina la información que esta dentro del campo.
                          </p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="divide20"></div>
                  <div class="divide70"></div>
                  <div class="divide70"></div>
                  <div class="divide70"></div>
                  <h1 style="color: #002857" align="center">¿Cómo completar el formulario?</h1>
              </div>
          </div>

          <div class="divide50"></div>

          <div class="row">
              <div class="col-sm-6">
                  <div class="divide80"></div>
                  <div class="divide80"></div>
                  <div class="divide30"></div>
                  <h1 style="color: #002857" align="center">¿Qué necesitas para completar el formulario?</h1>
              </div>

              <div class="col-sm-6">
                  <div class="about-author bordered" style="color: #000000">
                      <div class="author-details">
                          <div class="lead" align="justify">
                              <p>
                                  Para poder completar este formulario debes tener los siguientes documentos <strong>(Ambos lados)</strong>:
                              </p>
                              <p>
                                  <ul>
                                      <li>Acta de Nacimiento <a href="https://www.gob.mx/ActaNacimiento/" target="_blank">(Ir al sitio)</a> <strong style="color: red">*</strong></li>
                                      <li>INE / IFE <strong style="color: red">*</strong></li>
                                      <li>Comprobante de Domicilio <strong style="color: red">*</strong></li>
                                      <li>RFC <a href="https://rfc.siat.sat.gob.mx/PTSC/RFC/menu/?opcion=4" target="_blank">(Ir al sitio)</a> <strong style="color: red">*</strong></li>
                                      <li>IMSS <a href="https://serviciosdigitales.imss.gob.mx/gestionAsegurados-web-externo/asignacionNSS;JSESSIONIDASEGEXTERNO=tm6wLnyq4OAHOo7LgR2VsIOL6Gv3IvUnxgCxmUDa2sIq4cjn3cJf!300863322" target="_blank">(Ir al sitio)</a> <strong style="color: red">*</strong></li>
                                      <li>CURP <a href="https://www.gob.mx/curp/" target="_blank">(Ir al sitio)</a> <strong style="color: red">*</strong></li>
                                      <li>Titulos</li>
                                      <li>Cédulas</li>
                                      <li>Acta de Matrimonio</li>
                                      <li>Acta de Nacimiento Hijos <a href="https://www.gob.mx/ActaNacimiento/" target="_blank">(Ir al sitio)</a></li>
                                  </ul>
                                  <strong style="color: red">Nota*</strong> <br>
                                  <ul>
                                    <li>Los documentos deben tener formato <strong>(.pdf)</strong><br></li>
                                    <li>Los archivos <strong>(.pdf)</strong> no deben excederse de <strong style="color:red">900kb</strong>.</li>
                                    <li>Favor de nombrar los archivos con un identificador descriptivo al documento presentado.</li>
                                    <li>El archivo <strong>"Actas de Nacimiento Hijos"</strong> debe contener todas las actas y guardarse en un solo archivo.</li>
                                    <li>Al cargar los títulos y/o cédulas, se deben seleccionar todos los archivos a subir al mismo tiempo.</li>
                                  </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block section3 %}
  <div class="dark-wrapper">
      <div class="container inner">
          <div class="section-title text-center">
              <h3 style="color: #005cb9">Ir al Formulario</h3>
          </div>
          <div class="text-center"> <a href="{{ 'admin/form' | url }}" class="btn" style="background-color: #002857">Formulario</a> </div>
      </div>
  </div>
{% endblock %}
