{% extends 'layoutPanel.twig' %}
{% block section1 %}
<div class="light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-sm-12" align="center">
                <div class="divide50"></div>
                <div class="about-author bordered">
                    <div class="divide30"></div>
                    <img src="{{ "css/style/images/success.png" | url }}" height="150">
                    <div class="divide30"></div>
                    <h1 style="color: #002857" align="center">¡ El usuario se eliminó de manera exitosa !</h1>
                    <div class="divide30"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
